<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- make message work -->
<%- messages() %>
<div class="form">
  <form method="post" action="/account/login">
    <fieldset>
      <label>Email Address: <input type="email" name="account_email" placeholder="yourEmail@place.com" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required></label>
      <!-- <label>Password: <input type="password" name="account_password" pattern="[a-zA-Z0-9]{12,}" required> </label> -->
      <label>Password: <input type="password" name="account_password" required> </label>
      <input type="submit" value="Sign In!">
    </fieldset> 
  </form>
  <p>No account? <a href="/account/register">Sign-up</a></p>
</div>

