<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login">My Account</a>
    </div>
    <div id="logout">
      <!-- <a title="Welcome <%# firstName -%> Logout" href="/account/login"></a> -->
      <a title="Logout" href="/account/login">Logout</a>
      <!-- add msg "Login again" -->
    </div>
  </header>

  <!-- How to hide the login when loged in and Logout shown 
   1. Create logout link (pull first name from file, cookie? )
   2. conditional statement for logout or login visible in view markup
   3. welcome msg in account management view visible only when accnt is logged in. -->

