<!-- wk05 https://byui-cse.github.io/cse340-ww-content/assignments/assign3.html -->

 let greeting = 'hello world';
 <consol class="log">hello world</consol>

 <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- grid %>