<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<a href="newclassification">New Classification</a> 

<a href="addinventory">newInventory</a>

