<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>    
    
    <%- messages() %>

    <div class="form">
        <form id="newclassification" action="/inv/newclassification" method="post">
            <fieldset>
                <label for="classification_name">Classification Name*</label>
                <input type="text" name="classification_name" id="classification_name" pattern="[A-Za-z]+" required>                
                <div><i> * Required field</i></div>
                <div><i> ** Must only have letters. No numbers, symbols or spaces.</i></div>
            </fieldset>
            <button type="submit">Add Classification</button>
        </form>

    </div>