<!-- wk04 build the error view 
 https://blainerobertson.github.io/340-js/views/basic-errors.html -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    <%- message %>